In [1]:
print("HOPE AI")

HOPE AI

In [8]:
institute_name = input("Enter your institute name?: ")
print("Enter your institute name?: ",institute_name)

Enter your institute name?: HOPE AI
Enter your institute name?:  HOPE AI

In [10]:
institute_name = input("Enter your institute name: ")

Enter your institute name: HOPE AI

In [12]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Name:", name)
print("Age:", age)
print("School Name:", school_name)
print("Degree:", degree)

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE
Name: Raj
Age: 15
School Name: Guru school
Degree: B.E CSE

In [13]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E. CSE

In [14]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E. CSE

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")

print("Name:", name)
print("Age:", age)
print("School Name:", school_name)
print("Degree:", degree)

In [16]:
# Prompt the user for their name and store it in a variable
name = input("Enter your name: ")

# Prompt the user for their age and store it in a variable
age = input("Enter your age: ")

# Prompt the user for their school name and store it in a variable
school_name = input("Enter your school name: ")

# Prompt the user for their degree and store it in a variable
degree = input("Enter your degree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E. CSE

In [17]:
# Print out the collected information
print("Name:", name)
print("Age:", age)
print("School Name:", school_name)
print("Degree:", degree)

Name: Raj
Age: 15
School Name: Guru school
Degree: B.E. CSE

In [18]:
a = 43
b = 34
add = a + b
print("The sum of", a, "and", b, "is:", add)

The sum of 43 and 34 is: 77

In [20]:
a = 43
b = 34
add = a + b
print("a = ", a)
print("b =", b)
print("Add =", add)

a =  43
b = 34
Add = 77

In [1]:
a = 43
b = 34
sub = a - b
print("The subtraction of", a, "and", b, "is:", sub)

The subtraction of 43 and 34 is: 9

In [2]:
a = 43
b = 34
sub = a - b
print("a =",a)
print("b -",b)
print("sub =",sub)

a = 43
b - 34
sub = 9

In [3]:
a = 63
b = 97
mul = a * b
print("The multiplication of", a, "and", b, "is:", mul)

The multiplication of 63 and 97 is: 6111

In [4]:
a = 63
b = 97
mul = a * b
print("a =",a)
print("b =",b)
print("mul =",mul)

a = 63
b = 97
mul = 6111

In [5]:
a = 76
b = 31
float_div = a / b
print("The division of", a, "by", b, "is:", float_div)

The division of 76 by 31 is: 2.4516129032258065

In [6]:
a = 76
b = 31
float_div = a / b
print("a =",a)
print("b =",b)
print("float_div =",float_div)

a = 76
b = 31
float_div = 2.4516129032258065

In [7]:
a = 76
b = 31
floor_div = a // b
print("The floor division of", a, "by", b, "is:", floor_div)

The floor division of 76 by 31 is: 2

In [8]:
a = 76
b = 31
floor_div = a // b
print("a =",a)
print("b =",b)
print("floor_div =",floor_div)

a = 76
b = 31
floor_div = 2

In [9]:
a = 76
b = 31
modulo = a % b
print("The modulo of", a, "and", b, "is:", modulo)

The modulo of 76 and 31 is: 14

In [10]:
a = 76
b = 31
modulo = a % b
print("a =",a)
print("b =",b)
print("modulo =",modulo)

a = 76
b = 31
modulo = 14

In [11]:
a = 4
b = 4
power = a ** b
print("The power of", a, "raised to", b, "is:", power)

The power of 4 raised to 4 is: 256

In [12]:
a = 4
b = 4
power = a ** b
print("a =",a)
print("b =",b)
print("power =",power)

a = 4
b = 4
power = 256